In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../data/process_v1/process_data_5.csv')

In [ ]:
df

In [ ]:
lat_lon_df = df[['lat', 'lon']].drop_duplicates()
lat_lon_df

In [ ]:
(lat_lon_df['lon'].min(), lat_lon_df['lon'].max())

In [ ]:
import quads

In [ ]:
tree = quads.QuadTree((15.86914545, 106.13803025), 12 , 2)

In [ ]:
lat_list, lon_list = lat_lon_df['lat'].tolist(), lat_lon_df['lon'].tolist()
lat_lon_tuple_list = [(lat, lon) for lat, lon in zip(lat_list, lon_list)]
print(len(lat_lon_tuple_list))

In [ ]:
for lat_lon_tuple in lat_lon_tuple_list:
    tree.insert(lat_lon_tuple)

In [ ]:
lat_lon_tuple in tree

In [ ]:
found = tree.nearest_neighbors(lat_lon_tuple, count=4)
print(found[0].x, found[0].y)

In [ ]:
def get_address_by_lat_lon(lat, lon):
    item_df = df[(df['lat'] == lat) & (df['lon'] == lon)]
    return item_df['district'].mode().tolist()[0], item_df['street'].mode().tolist()[0], item_df['ward'].mode().tolist()[0]

In [ ]:
def find_nearest_neighbors(lat, lon, count = 10):
    found = tree.nearest_neighbors((lat, lon), count=count)
    nearest_lat_lon_df = pd.DataFrame()
    nearest_lat_lon_df['lat'] = [item.x for item in found]
    nearest_lat_lon_df['lon'] = [item.y for item in found]

    nearest_lat_lon_df['district'], nearest_lat_lon_df['street'], nearest_lat_lon_df['ward'] = zip(*nearest_lat_lon_df.apply(lambda x: get_address_by_lat_lon(x['lat'], x['lon']), axis = 1))
    return nearest_lat_lon_df

In [107]:
get_address_by_lat_lon(lat_lon_tuple[0], lat_lon_tuple[1])

(30, 513, 253)

In [108]:
find_nearest_neighbors(lat_lon_tuple[0], lat_lon_tuple[1])

         lat         lon  district  street  ward
0  10.802529  106.639643        30     513   253
1  10.797893  106.637636        26     149   115
2  10.805946  106.635190        30     548   307
3  10.807598  106.634793        30     210   150
4  10.805242  106.646488        30     405   253
5  10.804682  106.647705        30     441   128
6  10.801725  106.648716        30     168   128
7  10.793350  106.639016        26     269   183
8  10.799470  106.629478        26     257   115
9  10.800942  106.627756        26     271   115