In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../../data/update_data/demo1/realestate_dataset_hcm_v3.parquet')
df

,target,event_timestamp,realestate_id,nearest_2_street,houseDirection,nearest_1_ward,nearest_6_district,nearest_3_district,nearest_4_ward,nearest_8_district,...,distance_hn_DuongVoChiCong,num_of_school_in_1000m_radius,num_of_school_in_2000m_radius,num_of_marketplace_in_2000m_radius,distance_nearest_0,nearest_2_lat,facade,num_of_bank_in_2000m_radius,nearest_5_lon,num_of_restaurant_in_2000m_radius
0,11.379310,2024-06-20 15:57:44+00:00,0,2522,100,249,34,34,249,34,...,13.965235,2.000000,8.000000,1.000000,6.417990,10.657813,0.837641,48.953295,106.586563,121.827176
1,112.745098,2024-06-20 16:04:11+00:00,1,3691,100,316,13,13,294,13,...,13.946969,3.000000,7.000000,1.000000,5.442363,10.855677,0.837641,6.000000,106.682631,2.000000
2,152.727273,2024-06-20 16:07:31+00:00,2,2218,100,391,42,42,268,42,...,13.965182,12.535278,46.086888,8.872794,7.261126,10.662720,0.837641,48.953295,106.745772,121.827176
3,48.000000,2024-06-20 16:10:00+00:00,3,976,100,333,13,13,333,13,...,13.946209,2.000000,17.000000,2.000000,5.534754,10.865994,0.837641,48.953295,106.634561,6.000000
4,83.333333,2024-06-20 16:17:18+00:00,4,3451,100,73,30,30,215,30,...,13.952174,19.000000,58.000000,8.000000,5.579971,10.802885,0.837641,18.000000,106.629478,16.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,51.785714,2024-06-25 11:46:07+00:00,529,1706,100,227,13,13,399,13,...,13.945591,12.535278,8.000000,1.000000,6.866161,10.861523,0.837641,48.953295,106.655109,121.827176
530,19.750000,2024-06-25 12:04:32+00:00,530,1001,100,259,35,35,259,35,...,13.943912,3.000000,10.000000,2.000000,6.112284,10.888305,2.000000,48.953295,106.599323,6.000000
531,38.596491,2024-06-25 12:44:22+00:00,531,1706,5,227,13,13,399,13,...,13.945591,12.535278,8.000000,1.000000,6.866161,10.861523,0.837641,48.953295,106.655109,121.827176
532,96.250000,2024-06-25 12:47:31+00:00,532,2218,3,391,42,42,268,42,...,13.965182,12.535278,46.086888,8.872794,7.261126,10.662720,0.837641,48.953295,106.745772,121.827176
533,84.666667,2024-06-25 13:03:54+00:00,533,3451,5,73,30,30,215,30,...,13.952174,19.000000,58.000000,8.000000,5.579971,10.802885,0.837641,18.000000,106.629478,16.000000

In [33]:
import numpy as np
np.sum(df.isnull().sum())

0

In [ ]:
for c in df.columns.tolist():
    print(c, df[c].isnull().sum())

In [ ]:
df['distance_hn_CongvienVinhomesCentralPark'].tolist()

In [ ]:
cat_cols = [
        "typeOfRealEstate",
        "accessibility",
        "ward",
        "certificateOfLandUseRight",
        "houseDirection",
        "street",
        "district"
    ]

In [ ]:
df[cat_cols]