In [4]:
import pymongo
import pandas as pd
from pymongo import InsertOne
from tqdm import tqdm

In [5]:
connection_str = 'mongodb+srv://datn:datn@cluster0.rwxee46.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
__client = pymongo.MongoClient(connection_str)

database = 'realestate'
__database = __client[database]

collection = __database["realestate_listing"]

In [6]:
data = list(collection.find({}))

In [7]:
data = [item for item in data if item["propertyBasicInfo"]["address"]["value"]["city"] in ["Hà Nội", "Hồ Chí Minh"]]

In [8]:
len(data)

260946

In [9]:
operations = []
for item in tqdm(data):
    del item['_id']
    operations.append(
        InsertOne(item)
    )

    if len(operations) >= 150:
        collection.bulk_write(operations,ordered=False)
        operations = []

if len(operations):
    collection.bulk_write(operations,ordered=False)

  0%|          | 0/260946 [00:00<?, ?it/s]

100%|██████████| 260946/260946 [29:00<00:00, 149.94it/s]

In [21]:
lat_list = [item['propertyBasicInfo']['geolocation']['value']['latitude']['value'] for item in data]
lon_list = [item['propertyBasicInfo']['geolocation']['value']['longitude']['value'] for item in data]

In [22]:
df = pd.DataFrame()
df['lat'] = lat_list
df['lon'] = lon_list

In [23]:
df

                    lat               lon
0            21.0519203       105.7817105
1            21.0780093       105.8124999
2       21.072694803521  105.802959309842
3            21.0780093       105.8124999
4             10.869919        106.735547
...                 ...               ...
222214        10.830307        106.670085
222215        10.843992        106.664704
222216        10.852827        106.584168
222217        10.811482        106.695286
222218        10.742487        106.684895

[222219 rows x 2 columns]

In [25]:
df = df.drop_duplicates(keep = 'first')
df = df.reset_index(drop = True)
df

                  lat               lon
0          21.0519203       105.7817105
1          21.0780093       105.8124999
2     21.072694803521  105.802959309842
3           10.869919        106.735547
4           21.014174        105.810768
...               ...               ...
6187       20.9872888       105.8383403
6188        10.760817        106.659617
6189       21.0294959       105.7879114
6190       21.0510254       105.6138842
6191       20.9674354        105.725725

[6192 rows x 2 columns]

In [26]:
df.to_csv('../../full_lat_lon.csv', index = False)