In [64]:
import pandas as pd
import numpy as np

In [65]:
df = pd.read_csv('../../data/process_v1/process_data_7_hcm.csv')

In [66]:
selected_cols = [c for c in df.columns.tolist() if c not in ['target', 'time']]

In [67]:
timestamps = df['time'].tolist()
timestamps = pd.Series([pd.Timestamp(item) for item in timestamps])
timestamps = timestamps.to_frame(name="event_timestamp")

In [68]:
df = pd.concat(objs=[df, timestamps], axis=1)

In [69]:
df = df.sort_values(by = ['event_timestamp'])
df

,certificateOfLandUseRight,nearest_7_street,nearest_1_street,nearest_4_street,nearest_5_district,nearest_2_district,nearest_3_ward,nearest_6_ward,typeOfRealEstate,nearest_5_street,...,nearest_0_lon,num_of_marketplace_in_500m_radius,distance_hn_Cong truong Lam Son,distance_hn_Duong Nguyen Thi Dinh,distance_hn_Cong vien Tho Trang,distance_hn_Cong vien ca Koi Rin Rin Park,num_of_restaurant_in_500m_radius,time,target,event_timestamp
24794,0,756,3153,3249,11,11,13,13,3,857,...,106.689549,1,7.647704,9.124532,7.963574,9.526549,20,2023-04-01T00:00:00,450.000000,2023-04-01
37176,1,3429,3190,4091,10,10,137,547,3,4053,...,106.654154,1,8.551525,9.451413,6.743693,9.322935,1,2023-04-03T00:00:00,176.000000,2023-04-03
6905,0,100,1627,2559,11,11,247,279,3,495,...,106.695660,4,7.143411,9.000607,8.375282,9.684633,106,2023-05-18T00:00:00,406.250000,2023-05-18
6412,1,1479,2640,1506,10,14,38,559,0,3062,...,106.675301,0,8.428535,9.320652,7.955750,9.343365,3,2023-07-13T00:00:00,69.863014,2023-07-13
24436,1,2642,860,1033,18,18,28,172,1,208,...,106.747117,0,8.776880,8.361810,9.212604,9.866166,2,2023-07-14T00:00:00,185.000000,2023-07-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2697,1,506,1449,3070,1,1,116,116,1,3299,...,106.728886,0,8.728899,8.754166,9.193616,9.981511,1,2024-02-16T00:00:00,96.250000,2024-02-16
22001,1,311,1187,1257,20,20,426,30,3,91,...,106.687283,1,8.216211,9.179180,8.232343,9.460706,3,2024-02-16T00:00:00,123.595506,2024-02-16
21481,0,1469,3094,3241,13,13,303,303,1,2372,...,106.649759,0,9.479880,9.792999,9.298375,8.980503,0,2024-02-16T00:00:00,51.875000,2024-02-16
10914,0,3451,234,2685,10,30,215,140,3,3708,...,106.635927,0,8.967848,9.626756,8.203352,9.009110,2,2024-02-16T00:00:00,257.352941,2024-02-16
7477,0,100,3784,100,100,30,100,100,1,100,...,106.627039,1,9.091571,9.693534,8.442382,8.895794,0,2024-02-16T00:00:00,100.000000,2024-02-16

In [70]:
full_feat_set = selected_cols

data_df = df[full_feat_set + ['event_timestamp']]
target_df = df[['target'] + ['event_timestamp']]

In [71]:
realestate_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["realestate_id"])

data_df = pd.concat(objs=[data_df, realestate_ids], axis=1)
target_df = pd.concat(objs=[target_df, realestate_ids], axis=1)

In [72]:
data_df.to_parquet(path='../../data/data_df_hcm.parquet')
target_df.to_parquet(path='../../data/target_df_hcm.parquet')

In [74]:
pd.read_parquet('/home/long/long/datn-feast/data/realestate_dataset_full_version.parquet')

,target,event_timestamp,realestate_id,certificateOfLandUseRight,nearest_7_street,nearest_1_street,nearest_4_street,nearest_5_district,nearest_2_district,nearest_3_ward,...,distance_hn_Le Van Sy,nearest_4_lon,distance_nearest_4,nearest_0_lon,num_of_marketplace_in_500m_radius,distance_hn_Cong truong Lam Son,distance_hn_Duong Nguyen Thi Dinh,distance_hn_Cong vien Tho Trang,distance_hn_Cong vien ca Koi Rin Rin Park,num_of_restaurant_in_500m_radius
0,450.000000,2023-04-01 00:00:00+00:00,24794,0,756,3153,3249,11,11,13,...,13.990993,106.689818,5.369893,106.689549,1,7.647704,9.124532,7.963574,9.526549,20
1,176.000000,2023-04-03 00:00:00+00:00,37176,1,3429,3190,4091,10,10,137,...,13.990922,106.652100,5.487485,106.654154,1,8.551525,9.451413,6.743693,9.322935,1
2,406.250000,2023-05-18 00:00:00+00:00,6905,0,100,1627,2559,11,11,247,...,13.993378,106.694393,5.311295,106.695660,4,7.143411,9.000607,8.375282,9.684633,106
3,69.863014,2023-07-13 00:00:00+00:00,6412,1,1479,2640,1506,10,14,38,...,13.989137,106.676905,6.549558,106.675301,0,8.428535,9.320652,7.955750,9.343365,3
4,185.000000,2023-07-14 00:00:00+00:00,24436,1,2642,860,1033,18,18,28,...,13.990457,106.744331,7.044017,106.747117,0,8.776880,8.361810,9.212604,9.866166,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44204,96.250000,2024-02-16 00:00:00+00:00,2697,1,506,1449,3070,1,1,116,...,13.997199,106.731023,6.550797,106.728886,0,8.728899,8.754166,9.193616,9.981511,1
44205,123.595506,2024-02-16 00:00:00+00:00,22001,1,311,1187,1257,20,20,426,...,13.989439,106.687071,5.862890,106.687283,1,8.216211,9.179180,8.232343,9.460706,3
44206,51.875000,2024-02-16 00:00:00+00:00,21481,0,1469,3094,3241,13,13,303,...,13.981842,106.652004,5.631194,106.649759,0,9.479880,9.792999,9.298375,8.980503,0
44207,257.352941,2024-02-16 00:00:00+00:00,10914,0,3451,234,2685,10,30,215,...,13.988837,106.632644,5.627917,106.635927,0,8.967848,9.626756,8.203352,9.009110,2
44208,100.000000,2024-02-16 00:00:00+00:00,7477,0,100,3784,100,100,30,100,...,13.988486,106.682683,6.199661,106.627039,1,9.091571,9.693534,8.442382,8.895794,0