In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('../../data/process_v1/process_data_7_hcm.csv')

In [39]:
selected_cols = [c for c in df.columns.tolist() if c not in ['target', 'time']]

In [40]:
timestamps = df['time'].tolist()
timestamps = pd.Series([pd.Timestamp(item) for item in timestamps])
timestamps = timestamps.to_frame(name="event_timestamp")

In [41]:
df = pd.concat(objs=[df, timestamps], axis=1)

In [42]:
df = df.sort_values(by = ['event_timestamp'])
df

,nearest_3_lat,accessibility,nearest_0_lat,nearest_7_lon,typeOfRealEstate,nearest_4_lat,nearest_7_lat,nearest_2_lon,district,houseDirection,...,num_of_parking_entrance_in_2000m_radius,nearest_3_district,distance_hn_Công viên Lê Văn Tám,num_of_restaurant_in_500m_radius,"distance_hn_Đường Lê Lợi, quận 1, TPHCM",nearest_7_ward,num_of_place_of_worship_in_1000m_radius,time,target,event_timestamp
24794,10,0,10,106,3,10,10,106,11,0,...,2,11.0,5.956025,20,7.771465,13.0,29,2023-04-01T00:00:00,450.000000,2023-04-01
37176,10,0,10,106,3,10,10,106,10,0,...,0,10.0,8.306629,1,8.572820,137.0,30,2023-04-03T00:00:00,176.000000,2023-04-03
6905,10,0,10,100,3,10,100,106,11,0,...,0,11.0,7.880644,106,6.899570,NaN,45,2023-05-18T00:00:00,406.250000,2023-05-18
6412,10,0,10,106,0,10,10,106,14,1,...,5,10.0,7.945040,3,8.488024,38.0,10,2023-07-13T00:00:00,69.863014,2023-07-13
24436,10,1,10,106,1,10,10,106,18,4,...,0,18.0,8.831937,2,8.799135,482.0,4,2023-07-14T00:00:00,185.000000,2023-07-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2697,10,3,10,106,1,10,10,106,1,0,...,0,1.0,8.979089,1,8.680754,116.0,0,2024-02-16T00:00:00,96.250000,2024-02-16
22001,10,0,10,106,3,10,10,106,20,0,...,1,14.0,7.627422,3,8.298848,80.0,18,2024-02-16T00:00:00,123.595506,2024-02-16
21481,10,4,10,106,1,10,10,106,13,7,...,0,13.0,9.339221,0,9.503459,399.0,0,2024-02-16T00:00:00,51.875000,2024-02-16
10914,10,0,10,106,3,10,10,106,10,0,...,0,10.0,8.760873,2,8.989615,73.0,2,2024-02-16T00:00:00,257.352941,2024-02-16
7477,100,4,10,100,1,100,100,106,30,1,...,0,NaN,8.912796,0,9.110137,NaN,1,2024-02-16T00:00:00,100.000000,2024-02-16

In [43]:
full_feat_set = selected_cols

target_df = pd.DataFrame(data=df.target, columns=["target"])
data_df = df[full_feat_set + ['event_timestamp']]

In [44]:
realestate_ids = pd.DataFrame(data=list(range(len(data_df))), columns=["realestate_id"])

data_df = pd.concat(objs=[data_df, realestate_ids], axis=1)
target_df = pd.concat(objs=[target_df, realestate_ids], axis=1)

In [47]:
data_df.to_parquet(path='../../data/data_df_hcm.parquet')
target_df.to_parquet(path='../../data/target_df_hcm.parquet')